* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.app__main {
  flex: 0.75;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: #fff;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.app__side {
  min-width: 400px;
}

h3.app__chartTitle {
  position: relative;
  margin: 50px 0 20px;
}

@media (max-width: 900px) {
  .app {
    flex-direction: column;
  }
  .app__main {
    margin-bottom: 2rem;
  }
  .app__side {
    margin: 0 auto;
  }
}
